<ul>
  {{#each constraintsWithoutTimePeriodConstraint as |constraint|}}
    <li>
      {{constraint-display 
        constraint=constraint 
        minimumBasketTotal=minimumBasketTotal
      }}
    </li> 
  {{/each}} 
</ul> 

{{yield}} 