{{#bs-navbar 
  fluid=false 
  collapsed=true 
  onCollapse=(action (mut collapsed) true) 
  onExpand=(action (mut collapsed) false) 
  class="main-navbar mb-4"
  as |navbar|
}}
  <div class="navbar-header">
  {{navbar.toggle align="right"}}
  {{#link-to "index" class="navbar-brand"}}Promo Service{{/link-to}}
  </div>
  {{#navbar.content}}
     {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "how-it-works"}}How it works{{/nav.link-to}}{{/nav.item}}
      {{#if session.isAuthenticated}}
        {{#nav.item}}{{#nav.link-to "promotions"}}Promotions{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
    <div class="ml-auto">
      {{#if session.isAuthenticated}}
        <button class="btn btn-outline-primary" {{action "logout"}} >Log out</button>
      {{else}}
        {{#link-to 'login' class="btn btn-outline-success"}}Log In{{/link-to}}
      {{/if}}
    </div>
  {{/navbar.content}}
{{/bs-navbar}}