{{#if noPromotions}}
  <p>Hey there, looks like you don't have any promotoins yet. Why don't you go ahead and create one?</p>
{{/if}}
{{#link-to 'promotions.draft.name' class="btn btn-lg btn-success"}}Create Promotions{{/link-to}}
<div class="row">
  {{#each model as |promotion|}}
    <div class="col-sm-6 mb-4">
      {{promotion-card promotion=promotion}}
    </div>
  {{/each}}
</div>
{{#if hasPromotions}}
  {{#link-to 'promotions.draft.name' class="btn btn-lg btn-success"}}Create Promotions{{/link-to}}
{{/if}}

{{yield}}