<h2>What do you want it to do?</h2>

{{#link-to "promotions.draft.modifiers.items.types" class="w-100 mb-2 btn btn-primary btn-large"}}Discount Items{{/link-to}}
{{#link-to "promotions.draft.modifiers.delivery.types" class="w-100 mb-2 btn btn-primary btn-large"}}Discount Delivery{{/link-to}}
{{#link-to "promotions.draft.modifiers.total.types" class="w-100 mb-2 btn btn-primary btn-large"}}Discount Total Purchase (items + delivery){{/link-to}}

{{outlet}}
