.main-navbar {
  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .navbar-header {
    width: 100vw;
    .navbar-toggler {
      margin-right: 1rem; 
    }
  }
  @include media-breakpoint-up(sm) {
    .navbar-header {
      width: auto;
      .navbar-toggler {
        margin-right: 0;
      }
    }
  }
}