<h2>What type of Discount on the Delivery?</h2>

<div class="text-center">
  {{#link-to "promotions.draft.modifiers.delivery.percentage" class="mb-2 btn btn-primary btn-large"}}Percentage{{/link-to}}
  or
  {{#link-to "promotions.draft.modifiers.delivery.absolute" class="mb-2 btn btn-primary btn-large"}}Absolute{{/link-to}}
</div>

{{outlet}}
