<h2>What rules do you want to apply for redemption?</h2>

<div class="d-flex justify-content-center">
  <div>
    <div class="form-check text-left">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Only one promocode per customer
    </label>
  </div>
  <div class="form-check text-left">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Promocode belongs to specific customer
    </label>
  </div>
  <div class="form-check text-left">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Minimum Basket Total
    </label>
  </div>
  </div>
</div>
{{outlet}}