<h2>When do you want the promotion to run?</h2>
<small>These dates can be altered at any time.</small>
<div class="draft__form__input-group input-group input-group-lg">
  <span class="input-group-addon">Start Date:</span>
  {{input type="text" class="form-control" value=model.startDate}}
</div>
<span class="draft__form__small-text text-left">Leaves this blank for an immediate start date.</span>
<div class="draft__form__input-group input-group input-group-lg">
  <span class="input-group-addon">End Date:</span>
  {{input type="text" class="form-control" value=model.endDate}}
</div>
<span class="draft__form__small-text text-left">Leaves this blank for no end date.</span>
{{#link-to "promotions.draft.modifiers.targets" class="btn btn-primary btn-large"}}Good To Go{{/link-to}}




{{outlet}}