<h2>Waht do you want it to do?</h2>

{{#link-to "promotions.draft.items" class="btn btn-primary btn-large"}}Discont Items{{/link-to}}
{{#link-to "promotions.draft.delivery" class="btn btn-primary btn-large"}}Discont Delivery{{/link-to}}
{{#link-to "promotions.draft.total" class="btn btn-primary btn-large"}}Discont Whole Cart{{/link-to}}

{{outlet}}