<h2>
  What do you want to call your promotoin?
</h2>
<small>This name will help you identify your promotions. It won't be seen by customers.</small>
<div class="draft__form__input-group input-group">
  {{input type="text" value=model.name class="form-control"}}
</div>
{{#link-to "promotions.draft.dates" class="btn btn-primary btn-large"}}I Like It{{/link-to}}
{{outlet}}