<h2>
  Private name for your promotion?
</h2>
<small>This name will help you identify your promotions. It won't be seen by customers.</small>
<form {{action (route-action "transition") on="submit"}}>
  <div class="draft__form__input-group input-group">
    {{input 
      type="text" 
      value=model.name 
      class="form-control"
      placeholder="Internal name for your promotion e.g. Summer Sale 2017"
    }}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-large">I like it</button>
  </div>
</form>
{{outlet}}