<h2>Check and Edit your promotion</h2>
{{promotion-card promotion=model class="mb-2"}}
<button class="btn btn-lg btn-primary" onClick={{route-action "savePromotion" model}}>Create Promotion!</button>
{{outlet}}