
.draft-container {
  margin-top: -54px;
  h2 {
    text-align: center;
  }
}

.draft__form__small-text {
  display: block;
  font-size: smaller;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.draft__form__input-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  input {
    width: 100%;
  }
}