<div 
  class="draft-container d-flex flex-column align-items-center justify-content-center vh-100"
>
  <div class="draft-wrapper">
    {{draft-progress-tracker}}
    <div class="draft-route-container">
      {{outlet}}
    </div>
  </div>
</div>