<h2>Create a promotion</h2>

<p>A promotion conissts of 2 things:</p>
<ul>
  <li>Discounts, e.g. £10 off</li>
  <li>Rules, e.g. Minimum Order Value £100</li>
</ul>

<p>
  Once you have a promotion you can generate promocodes for that promotion to give to your customers.
</p>

<p>
  We have a set of flexible rules and discounts that you can combine any way you wish on your promotions.
</p>

<hr>

<h2>Common Promotions</h2>

<p>
  Here are three common use cases for our service.
</p>

<h3>Newsletter Signup</h3>

<p>You want to give customers that sign up to your newsletter a discount on their next purchase</p>

<p>You create the following promotion:</p>

<strong>Discounts</strong>
<ul>
  <li>£10 off items</li>
</ul>

<strong>Rules</strong>
<ul>
  <li>Customers can only use the promocode once</li>
  <li>The promocode must be used by the customer it belongs to, linked via email</li>
  <li>Minimum order total is £50</li>
</ul>

<p>
  You can use our API t ogenerate a unique promocode for each customer when they sign up to the newsletter.
</p>

<h3>Sale</h3>
<p>
  You are running a sale until the end of the month.
</p>

<p>You create the following promotion:</p>

<strong>Discounts</strong>
<ul>
  <li>20% off total order value</li>
</ul>

<strong>Rules</strong>
<ul>
  <li>The promotion starts tomorrow</li>
  <li>The promotion ends at the end of the month</li>
</ul>

<p>
  You can use this website to generate a promocode, e.g. SUMMER20. Note that any customer can use this coe and that they can reuse it 
  as many times as they like, if you wanted to restrict it to one use per customer, simly add that rule.
</p>

<h3>Customer Service</h3>

<p>You want to give a customer free delivery on their next order.</p>

<p>
  You create the following promotion:
</p>

<strong>Discount</strong>
<ul>
  <li>100% off delivery</li>
</ul>

<strong>Rules</strong>
<ul>
  <li>Customers can only use the promocode once</li>
  <li>The promocode must be used by the customer it belongs to, linked via email</li>
</ul>

<p>
  You can use this website to generate a promocode for a specific customer email e.g. WeLoveBob. Then Bob can use it next time
  he is at the checkout.

  Note that you only need to creat this promotion once and then you can generate promocodes for it again and again, generating a promocode
  takes seconds.
</p>

<hr>

<h2>Analytics</h2>

<p>Easily see how each promotion performs</p>

<strong>Summer Sale 2017</strong>
<ul>
  <li>Redeeemed 507 times</li>
  <li>Total Revenue Generated: £5,070</li>
  <li>Average Order Value: £10</li>
  <li>Total Discount: £563</li>
  <li>Conversion rate: 82%</li>
</ul>

<hr>

<h2>Referral Scheme</h2>

<p>Coming soon</p>


{{outlet}}